@mixin travel-card-flexbox() {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -50px;
  max-width: $content-width;
  flex-wrap: wrap;
  gap: 55px;
  flex-basis: 33%;
}

@mixin travel-card() {
  width: 236px;
  height: 304px;
  background-image: url("../images/tour/tour-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .details {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-family: "Proxima Nova ScOsf Custom";
    position: relative;
    h1 {
      font-size: 310%;
      // font-size: 60px;
      margin: 0;
      font-weight: 100;
    }
    h2 {
      // font-size: 30px;
      font-size: 155%;
      font-weight: 100;
      margin: 0;
    }
    a {
      margin-top: 56px;
      padding: 11px 22px;
      background-color: $site-accent;
      border-radius: 23px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-family: "Gill Sans Custom";
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
@mixin background-img($srcinput) {
  background-image: url($srcinput) !important;
}
@mixin background-img-with-overlay($srcinput) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($srcinput);
}

@mixin tour-hightlights($tour) {
  $elements: 3;
  @for $i from 0 to $elements {
    .highlight:nth-child(#{$i + 1}) {
      @include background-img(
        "../images/tour/tour-#{$tour}/#{$tour}-tour-0#{$i+1}.jpg"
      );
    }
  }
}
