nav {
  height: 90px;
  max-width: $content-width;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid $site-white;
  position: absolute;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $site-white;
    text-decoration: none;
    padding: 0 19px;
    border-right: solid 1px $site-accent;
    font-family: "Gill Sans Custom";
    text-underline-offset: 4px;
  }
  a:hover {
    text-decoration: underline;
  }
  .active {
    color: $site-accent;
    text-decoration: underline;
  }
  a:last-of-type {
    border-right: none;
  }

  .logo {
    width: 92px;
    height: 42px;
    background-image: url("../images/logo/logo-white.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .links {
    display: flex;
    align-items: center;
    height: 42px;
    justify-content: flex-end;
  }

  .mobile-links {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.866);
    width: 100%;
    position: absolute;
    height: initial;
    align-items: center;
    overflow: hidden;
    top: 100%;
    gap: 10px;
    display: none;
    padding: 10px 0;

    a {
      border: none;
    }
  }

  i {
    color: white;
    position: absolute;
    right: 0;
    font-size: 25px;
    margin-right: 10px;
    display: none !important;
    cursor: pointer;
  }
}

.nav-black {
  position: relative;
  border-bottom: 2px solid black;
  .links {
    a {
      color: black;
    }
  }
  .logo {
    background-image: url("../images/logo/logo-black.svg");
  }
  i {
    color: black;
  }
}

@media all and (max-width: $mobile-screen-width) {
  nav {
    .links {
      display: none;
    }
    .mobile-links {
      display: flex;
    }
    .logo {
      // width: 80px;
    }

    i {
      display: block !important;
    }
  }
}
