/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: $site-white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
/* End of Reset */
.wrapper {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}

@font-face {
  font-family: "Proxima Nova ScOsf Custom";
  src: url("../fonts/ProximaNovaExtraCondensed.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova ScOsf Custom";
  src: url("../fonts/Proxima-Nova-ExCn-Reg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Light.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Light\ Italic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Medium\ Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Bold\ Italic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Heavy.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans Custom";
  src: url("../fonts/gillsans/Gill\ Sans\ Heavy\ Italic.otf");
  font-weight: 900;
  font-style: italic;
}

// @font-face {
//   font-family: "Gill Sans Custom";
//   src: url("../Italic-webfont.ttf") format("truetype");
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Gill Sans Custom";
//   src: url("../Bold-webfont.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Gill Sans Custom";
//   src: url("../BoldItalic-webfont.ttf") format("truetype");
//   font-weight: bold;
//   font-style: italic;
// }
