/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: $site-white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
/* End of Reset */
.wrapper {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
