.blog {
  max-width: $content-width;
  margin: 0 auto;
  height: 100%;
  h1 {
    font-size: 30px;
    font-family: "Proxima Nova ScOsf Custom";
    text-decoration: underline;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration-thickness: 2px;
    text-underline-offset: 14px;
    margin-bottom: 35px;
    margin-top: 60px;
  }
  h2 {
    font-size: 40px;
    font-family: "Proxima Nova ScOsf Custom";
    text-decoration: underline;
    font-weight: 100;
    letter-spacing: 4px;
    text-decoration-thickness: 2px;
    text-underline-offset: 14px;
    margin-bottom: 35px;
    margin-top: 100px;
  }
  p {
    font-family: "Gill Sans Custom";
    font-size: 16px;
    font-weight: normal;
  }
  .blog-showcase {
    display: flex;
    align-items: stretch;
    gap: 100px;
    margin-bottom: 100px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    .blog-entry {
      min-height: 199px;
      display: flex;
      align-items: stretch;
      gap: 20px;

      .blog-banner {
        aspect-ratio: 60 / 60;
        max-width: 60px;
        height: 100%;
        background-color: $site-accent;
        flex: 1;
        color: $site-white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
          font-weight: bold;
          font-family: "Gill Sans Custom", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
          margin: 0;
          text-decoration: none;
          font-size: 22px;
          letter-spacing: 0px;
        }
        h2 {
          text-decoration: none;
          margin: 0;
          font-family: "Gill Sans Custom", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
          font-weight: 100;
          letter-spacing: 0px;
          font-size: 12px;
        }
      }
      .blog-content {
        flex: 1;
        .blog-content-hero {
          aspect-ratio: 900 / 259;
          background-color: green;
          background-image: url("../images/blog.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-bottom: 20px;
        }
        h3 {
          font-size: 15px;
          font-family: "Gill Sans Custom", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
          font-weight: normal;
          margin-bottom: 11px;
        }
        p {
          color: $site-accent;
          max-width: 380px;
          font-size: 13px;
          font-family: "Gill Sans Custom", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
          font-weight: normal;
          margin-bottom: 0;
        }
      }
    }
    .specialoffer-entry:nth-child(2) {
      .specialoffer-banner {
        background-image: url("../images/special-offer-02.jpg");
      }
    }
  }
}
